PORT=4300
EXPORT_SHARED_SECRET=change-me
EXPORT_MAX_CONCURRENCY=2
EXPORT_JOB_TIMEOUT_MS=180000
EXPORT_HTML_RENDER_TIMEOUT_MS=120000
EXPORT_IMAGE_WAIT_TIMEOUT_MS=45000
STORAGE_DIR=./storage
EXPORT_ALLOW_PDFKIT_FALLBACK=false
